*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1000px;
    height: 600px;
    background-color: black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
header, footer{
    background-color: coral;
    height: 20%;
    width: 100%;
}
aside, section{
    height: 60%;
    width: 25%;
}
.leftAside{background-color: red;}
.leftSection{background-color: green;}
.rightSection{background-color: blue;}
.rightAside{background-color: black;}
