.border{
    border: 1px solid gray;
    padding: 15px;
    margin-bottom: 20px;
}
nav button {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 50px;
    margin-left: 20px;
}
nav{
    transition: .3s;
}
nav ul{
    display: none;
}
