body{
    font-family: "Segoe UI";
    background-color: aliceblue;
}
*{
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
    color: darkblue;
}
h2{
    font-size: 2em;
}
li{
    font-weight: bold;
}
p{
    font-size: 1.1em;
}
