* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 40px;
}

.logo-wrapper {
    height: 100px;
    background-color: #7E0019;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    font-family: "Segoe UI";
    padding: 0 10px;
}

nav > ul {
    height: 100%;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 13px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: -1px
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.nav-active-item {
    color: #7E0019;
}

nav > ul > li > a:hover {
    color: #7E0019;
}

.main-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -1px
}

.subtitle {
    font-weight: normal;
    font-size: 13px;
}

.main-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
